body {
    background-color: #eafffb;
}

.wrap {
    width: 90%; 
    max-width: 1100px;
    margin: 0 auto;
}

/* *****************************************************************
HERO
****************************************************************** */
.hero {
    background-color: #005ca9;
    color: #FFFFFF;
    padding: 40px 0;
}

.hero h2 {
    color: #D9B310;
}

.hero ul {
    padding-left: 20px
}

/* *****************************************************************
MAIN SECTION
****************************************************************** */
.main {
    /* SPACING */
    padding: 40px 0px;
}

.main h2 {
    color: #080921;
}

/* *****************************************************************
FOOTER
****************************************************************** */
footer {
    background-color: black;
    padding: 40px 0;
    color: white;
}

footer a {
    display: block;
}