.hero {
    background-color: #0B3C5D;
    color: #FFFFFF;
    padding: 40px 60px 40px 80px;
}

.hero h2 {
    color: #D9B310;
}

.hero ul {
    padding-left: 20px
}

.main {
    
}

footer {
    
}