body {
    background-color: #eafffb;
}

.wrap {
    width: 90%; 
    max-width: 1100px;
    margin: 0 auto;
}

/* *****************************************************************
NAVBAR DESKTOP
****************************************************************** */
.nav-desktop{
    color: #FFFFFF;
}

.top-bar {
    background-color: #000;
}

.top-bar ul{
    background-color: #000;
}

.menu > li > a {
    color: rgba(255,255,255,0.7);
}

.menu > li > a:hover {
    color: rgba(255,255,255,1);
}


/* *****************************************************************
HERO
****************************************************************** */
.hero {
    background-color: #005ca9;
    background-image: url("../img/square_bg.png");
    color: #FFFFFF;
    padding: 40px 0;
}

.hero h2 {
    color: #D9B310;
}

.hero ul {
    padding-left: 20px
}

/* *****************************************************************
MAIN SECTION
****************************************************************** */
.main {
    /* SPACING */
    padding: 40px 0px;
}

.main h2 {
    color: #080921;
}

/* *****************************************************************
FOOTER
****************************************************************** */
footer {
    background-color: black;
    padding: 40px 0;
    color: rgba(255,255,255, 0.9);
    background-image: url("../img/footer_lodyas.png");
}

footer hr {
    border-color: rgba(255,255,255,0.5);
    margin: 10px 0;
}
footer a {
    display: block;
    color: rgba(255,255,255, 0.7);
}

footer a:hover {
    color: rgba(255,255,255, 1);
}

/* *****************************************************************
MEDIA QUERY
****************************************************************** */
